body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: antiquewhite;
}
header{
    background-color: black;
    padding: 1px;
    text-align: center;
    position: sticky; 
    top: 0;
}
header h1{
    color: aquamarine;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
header a{
    text-decoration: none;
    color: aquamarine;
    font-weight: bold;
    padding: 10px ;
}
header a:hover{
    color: white;
    background-color: aquamarine;
    border-radius: 10px;
}
section h2{
    color: #E03C31;
    padding-left: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
#peliculas h2{
  text-align: start;
}
.articulos{
    display: flex;
    justify-content: center;
    gap: 20px;
}
article{
    background-color: #1c1c1c;
    border: solid #333 1px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    max-width: 195px;
    margin-bottom: 20px;
}
article img{
    max-width: 100%;
    border-radius: 15px;
}
article h3{
    color: #ee776ff5; 
}
article p{
    text-align: justify;
    padding: 5px;
}
article a{
    display: inline-block;
    padding: 5px 10px;
    background-color: #E03C31;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
article a:hover{
    background-color: aquamarine; 
}
#actores{
    padding-bottom: 10px;
    color: #E03C31;
    font-weight: bold;
}
#actores article{
    border: 0px;
    border-radius: 0%;
    background-color: black;
}
#actores img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
aside{
    float: left;
    background-color: aliceblue;
    height: 500px;
    width: 300px;
    margin-top: 50px;
}
#series .articulos{
    justify-content: center;
}
footer{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 10px;
    
}
