body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: aliceblue;
}
header{
    background-color: black;
    padding: 1px;
    text-align: center;
    position: sticky; 
    top: 0;
    z-index: 1000;
}
header h1 a{
    color: #ff2e1f;
    text-decoration: none;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
header  nav a{
    text-decoration: none;
    color: rgb(216, 83, 73);
    font-weight: bold;
    padding: 10px ;
}
header  nav a:hover{
    color: aliceblue;
    background-color:  rgb(216, 83, 73);;
    border-radius: 10px;
}
section h2{
    color: #E03C31;
    padding-left: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.articulos{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
article{
    text-align: center;
    border-radius: 10px;
    max-width: 200px;
    margin-bottom: 20px;
}
article img{
    width: 95%;
    height: 200px;
    border-radius: 10px;
}
article h3{
    display: flex;
    background-color: red;
    margin-top: 0%;
    border-radius: 5px;
    padding: 3px;
}
article p{
    text-align: justify;
    padding: 5px;
}
.genero{
    display: flex;
    background-color: rgb(255, 74, 74);
    border-radius: 5px;
}
article a{
    display: flex;
    padding: 5px;
    background-color: rgb(255, 74, 74);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    color: aliceblue;
}
article a:hover{
    background-color: aliceblue;
    color:  rgb(216, 83, 73);; 
}
.actores{
    background-color: rgb(255, 74, 74);
    color: aliceblue;
}
.actores h2{
    color: black;
}
.actores p{
   text-align: center;
}
.actores img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.actores h3{
    background-color: rgb(255, 74, 74);
    justify-content: center;
    font-weight: bold;
}
aside{
    float: left;
    background-color: rgb(255, 74, 74);
    height: 800px;
    width: 350px;
    padding-left: 15px;
}
aside h2{
    color: black;
    text-align: center;
    font-size: xx-large;
}
aside div{
    width: 100%;
}
aside article{
    width: 95%;
    color: black;
    max-width: none;
}
aside img{
    width: 330px;
    height: 150px;
}
aside p{
    margin-bottom: 1px;
    padding: 1px;
}
aside h3{
    background-color: aliceblue;
}
.series .articulos{
    justify-content: space-around;
}
.img-contenedor {
    position: relative;
}
.img-contenedor img{
    width: 100%;
    height: 250px;
    border-radius: 0%;
}
.img-contenedor a{
    position: absolute;
    width: 96%;
    bottom: 0%;
    left: 0%; 
    color: aliceblue;
    text-decoration: none;
    border-radius: 0%;
    padding: 4px;
}
footer{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 10px;
}
.loMasVisto{
    background-color: rgb(255, 74, 74);
    clear: both;
}
.loMasVisto h2{
    color: black;
}
.articulosEspeciales{
    display: flex;
    justify-content: space-around;
}
.articulosEspeciales img{
    width: 100px;
    height: 150px;
    border-radius: 10px;
}
.articulosEspeciales h3{
    background-color: rgb(255, 74, 74);
    justify-content: center;
}